*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #23272f;
  color: white;
}
h1{
  text-align: center;
}
.board{
display: grid;
grid-template-columns: 100px 100px 100px;
grid-template-rows: 100px 100px 100px;
cursor: pointer;
position: relative;
}
.tile{
  color: currentColor;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-border{
  border-right: 0.2em solid #0074a6;
}
.bottom-border{
  border-bottom: 0.2em solid #0074a6; 
}
.X-hover:hover::after{
  content:"X";
  opacity:0.4;
}
.O-hover:hover::after{
  content:"O";
  opacity:0.4;
}
.strike{
  position: absolute;
  background-color: darkorange;
}
.stike-row-1{
  width:75%;
  height: 4px;
  top: 15%;
}
.stike-row-2{
  width:75%;
  height: 4px;
  top: 48%;
}
.stike-row-3{
  width:75%;
  height: 4px;
  top: 83%;
}
.stike-column-1{
  height: 100%;
  width: 4px;
  left: 15%;
}
.stike-column-2{
  height: 100%;
  width: 4px;
  left: 35%;
}
.stike-column-3{
  height: 100%;
  width: 4px;
  left: 60%;
}
.stike-diagonal-1{
  width: 89%;
  height: 4px;
  top: 50%;
  left: 5%;
  transform:skewY(45deg)
}
.stike-diagonal-2{
  width: 75%;
  height: 4px;
  top: 50%;
  left: -3%;
  transform:skewY(-40deg)
}
.game-over {
  text-align: center;
  border: #5468ff 8px;
  border-style: dotted;
  padding: 10px;
  margin-top: 50px;
  font-size: 1.5rem;
}
.buttonn{
  margin-top: 50px;
  padding: 20px;
  background-color: #0074a6;
  color: white;
  width: 100%;
  font-size: 1.5em;
}